{% extends 'base.html' %}

{% block main %}

<div class="container mt-4">
    <h3 class="text-center">Cheff Name :  {{request.user}}</h3>
    <h3 class="text-center">Cheff Branch :   {{branch}}</h2>
</div>

<div class="container">
    <div class="row bg-light p-3 my-3">
        <div class="col-2"><b>ID</b></div>
        <div class="col-3"><b>Customer Name</b></div>
        <div class="col-3">
            <div class="row"><b>Items Name</b></div>
        </div>
        <div class="col-2">
            <div class="row"><b>Quanitity</b></div>
        </div>
        <div class="col-2">
            <b>Action</b>
        </div>
    </div>
    {% for i,j in data %}
        <div class="row">
            <div class="col-2">{{i.id}}</div>
            <div class="col-3">{{i.customer.user.username}}</div>
            <div class="col-3">
                {% for a in j %}
                    <div class="row">{{a.product.name}}</div>
                {% endfor %}
            </div>
            <div class="col-2">
                {% for a in j %}
                    <div class="row">{{a.quantity}}</div>
                {% endfor %}
            </div>
            <div class="col-2">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" hidden value="{{i.id}}" name="id">
                    <input type="submit" class="btn btn-md btn-dark" value="Made">
                </form>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

{% endblock main %}



<div class="container mt-5">


    <!-- <table class="table table-striped">
        <thead>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>
                <table class="">
                    <th>
                        <td>Item Name</td>
                        <td>Quanitity</td>
                    </th>

                </table>
            </th>
        </thead>
        {% for i,j in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.customer.user.username}}</td>
            <td>
                <table class="table">
                        {% for a in j %}          
                            <tr>
                                <td>{{a.product.name}}</td>
                                <td>{{a.quantity}}</td>
                            </tr>  
                        {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %} -->
        
        
    </table>


</div>

<!-- <table>
    <thead>
        <th>Order</th>
        <th>Items</th>
    </thead>
    <tbody>
        

    
    </tbody>
</table> -->